.apartments {

  padding: 50px 80px;

}

.apartments h1 {

  font-size: 40px;

  margin-bottom: 35px;

}

/* Сетка квартир */

.apartments-list {

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 30px;

}

/* Информация о квартире */

.apartment-info {

  display: flex;

  gap: 15px;

  margin-top: 15px;

  font-size: 16px;

}

/* Планшеты */

@media(max-width: 900px) {

  .apartments {

    padding: 40px 30px;

  }

  .apartments-list {

    gap: 20px;

  }

}

/* Телефоны */

@media(max-width:700px) {

  .apartments {

    padding: 30px 10px;

  }

  .apartments h1 {

    font-size: 30px;

    margin-bottom: 25px;

  }

  .apartments-list {

    grid-template-columns: repeat(2, 1fr);

    gap: 12px;

  }

  .apartment-info {

    font-size: 13px;

    gap: 8px;

    margin-top: 10px;

  }

}

/* Очень маленькие телефоны */

@media(max-width:380px){

  .apartments-list {

    grid-template-columns: 1fr;

  }

}